
<div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
    <button class="close-button" (click)="closeModal()"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
    </svg></button>

    <div style="color: #f0d9b5;" class="text-center">
      <h1>game ended</h1>
    <h3>analyse game</h3>
    </div>
    <button class="col-md-6" (click)="NextPuzzlesEvent.emit()">analyse</button>
  </div>
