<app-gameover
    *ngIf="gameOver"
    (closeModalEvent)="gameOver = false"
    (NextPuzzlesEvent)="analyzeGame(); gameOver = false"
></app-gameover>
<div class="container pt-5">
    <div class="row">
        <div class="col-6">
            <div class="row">
          
                <div class="col-2 mt-2" *ngIf="!userbool">
                    <img [src]="'http://localhost:3000/uploads/' + userAdver.attachments" style="max-width: 50px; object-fit: cover; border-radius: 50%;" />            
                </div>
                <div class="col-2 mt-2" *ngIf="userbool">
                    <img [src]="'http://localhost:3000/uploads/' + invetation[0].attachments" style="max-width: 50px; object-fit: cover; border-radius: 50%;" />            
                </div>
                <div class="col-4" *ngIf="!userbool">
                    <br>
                    <h5>{{userAdver.name}} {{userAdver.lastname}} </h5>
                </div>
                <div class="col-4" *ngIf="userbool">
                    <br>
                    <h5>{{invetation[0].name}} {{invetation[0].lastname}} </h5>
                </div>
                <div class="alert alert-dark col-3" style="background-color:black ;">
                    <app-clock [clockOpened]="clockOpenedPlay1" class="text-light text-center"></app-clock>
                </div>
            </div>
            <ngx-chess-board
                #board
                size="500" 
                [lightTileColor]="lightTileColor"
                (moveChange)="moveCallback($event)"
                [dragDisabled]="dragDisabled"
                [drawDisabled]="drawDisabled"
                [darkTileColor]="darkTileColor"
                [lightDisabled]="lightDisabled"
                [darkDisabled]="darkDisabled"
                [freeMode]="freeMode"
            >
            </ngx-chess-board>
            <div class="row">
                <br>
                <div class="col-2 mt-2">
                    <img [src]="'http://localhost:3000/uploads/' + user.attachments" style="max-width: 50px; object-fit: cover; border-radius: 50%;" />            
                </div>
               
                <div class="col-4">
                    <br>
                    <h5>{{user.name}} {{user.lastname}}</h5>
                </div>
                <div class="alert alert-light col-3 mt-3" >
                    <app-clock [clockOpened]="clockOpenedPlay2" class="text-center"></app-clock>
                </div>
            </div>

        </div>


        <div class="col-6" >
            <h1 class="text-center ">Analysis</h1>
            <div style="max-height: 600px; overflow-y: auto;" >

                <table class="table table-dark table-striped mt-3">
                    <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Move</th>
                          <th scope="col">piece</th>
                        
                        </tr>
                      </thead>
                      <tbody id="tableMove">
                        <tr>
                      </tbody>
                  </table>
            </div>

        </div>
    </div>
</div>