  <div  class="row pt-5">
      <div class="col-2">
      <img src="../../assets/user.png" class="rounded mx-auto d-block w-100" alt="...">
      <h3>hey mr admin</h3>
    </div>
    <div class="col-10 mt-5">
        <table class="table table-bordered border-warning">
            <thead >
              <tr >
                <th scope="col" class="thcolor">member</th>
                <th scope="col" class="thcolor">name</th>
                <th scope="col" class="thcolor">email</th>
                <th scope="col" class="thcolor">action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="thcolor w-25" style="max-width:100px;"><img src="../../assets/user.png" class="rounded mx-auto d-block w-50" alt="..."></th>
                <td class="text-center align-middle">Mark</td>
                <td class="text-center align-middle">Otto</td>
                <td class="text-center align-middle">
                  <button type="button" class="btn btn" style="background-color: #484136; color:bisque;">Edit</button>
                  &nbsp;
                  <button type="button" class="btn btn" style="background-color: #484136; color:bisque;">Delete</button>
                </td>
                
              </tr>
              
              <tr>
                <th scope="row" class="thcolor">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>rrr</td>
              </tr>
              <tr>
                <th scope="row" class="thcolor">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>*</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>